body {
    width: 80%;
    margin: auto;
    background-color: white;
    font-size: 10pt;
}

p {
    font-size: 10pt;
}

form {
    --form-back-color: white;
    --form-border-color: none;
}

#index_body {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 800px;
    -moz-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);
    text-align: center;
}

#index_image {
    height: 300px;
}

#query_image {
    height: 50px;
}

.search_form {
    display: flex;
    --form-back-color: white;
    --form-border-color: none;
    margin: 32px 0;
}

.search_form_input {
    width: 600px;
    font-size: 14pt;
    border-radius: 8px;
    --input-back-color: #BDE8F8;
}

.search_form_button {
    width: 150px;
    vertical-align: middle;
    --button-back-color: #80C340;
    --button-hover-back-color: #74b238;
}

.search_form_button_icon {
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.info_label {
    color: grey;
}

.articles_container {
    width: 66%;
    float: left;
}

.article_row_container {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 20px;
}

.article_row_container div {
    display: table-cell;
    vertical-align: top;
}

.article_row_container div li {
    font-size: 10pt;
}

.article_image_container {
    width: 130px;
    height: auto;
}

.article_image {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin-top: 15px;
}

.article_title {
    font-size: 12pt;
}

.filter_container {
    float: right;
    width: 24%;
}

.filter_container input {
    vertical-align: middle;
    outline: 0;
}

.filter_container fieldset {
    --form-border-color: grey;
}

.article_page_container {
    margin-top: 32px;
    margin-bottom: 64px;
}

.article_page_container label {
}

.button_label {
    color: lightskyblue;
}

.button_label:hover {
    cursor: pointer;
}

#query_filter_button {
    width: 100%;
}